* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    place-items: center;
    background-color: #1a1c28;
    font-family: Combo;
}


.item1 {
    grid-area: a;

  }

  .item2 {
    grid-area: b;
  }

  .item3 {
    grid-area: c;
  }

  .item4{
    grid-area: d;
  }

  .item5{
    grid-area: e;
  }

main{
    display: grid;
    grid-template-areas: 'a a b'
                        'c d d'   
                        'c e e'      ;
  grid-gap: 5px;
  padding: 10px;
  width: 50%;
}

.grid {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
  }

  .item1 {
    background-color: #eb5020;

  }

  .item2 {
    background-color: #ffa401;
  }

  .item3 {
    background-color: #05aa42;
  }

  .item4{
    background-color: #01aefd;
  }

  .item5{
    background-color: #01aefd;
  }

.text{
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

  